<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.vranckaert.driver.touch">

    <application>
        <uses-library android:name="com.google.android.things" />

        <service android:name=".TouchScreenDriverService" />
    </application>

</manifest>